.req:after {
  content:" *";
  color: red;
}

.fixedbutton {
  position: fixed;
  bottom: 20px;
  right: 20px; 
}

.userImage{
  width: 240px;
  height: 240px;
}

.itemImage{
  width: 80%;
  height: 80%;
}